* {
  margin: 0;
  padding: 0;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90vw;
  height: 80vh;
  overflow-y: scroll;
  padding: 20px;
  align-items: center;
}

.projects-container::-webkit-scrollbar {
  display: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  padding: 20px;
  background-color: #cecece;
  border-radius: 15px;
}

.project-card > div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.project-card > div > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.member-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-weight: bold;
  color: white;
  height: 30px;
  width: 30px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}
